- if signed_in?
  li= link_to 'Sign out', signout_path
  li= current_user.name
- else
  li= link_to 'Sign in', signin_path

.spacer

code= "session[:access_token] = #{session[:access_token]}"

.spacer

code= "session[:refresh_token] = #{session[:refresh_token]}"

.spacer

code= "session[:expires_at] = #{session[:expires_at]}"